<div id="modalOverlay" class="close-modal">
    <div class="modal">
        <div class="modal-content sm:w-auto">
            <form [formGroup]="productForm" (ngSubmit)="addProduct()">
                <div class="p-4 flex justify-between font-medium bg-green-500 text-white">
                    <h4>New Product</h4>
                    <button (click)="close()" type="button" class="focus:outline-none">
                        <fa-icon [icon]="['fas', 'times']" size="md"></fa-icon>
                    </button>
                </div>

                <div class="grid grid-cols-6 gap-6 p-4">
                    <div class="col-span-6 sm:col-span-3">
                        <label for="name">Name:</label>
                        <input formControlName="name" id="name" type="text" />
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <label for="category">Category:</label>
                        <select id="category" name="category">
                            <option>Cars</option>
                            <option>Mobiles</option>
                            <option>Toys</option>
                        </select>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <label for="price">Price:</label>
                        <input formControlName="price" id="price" type="number" />
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <label for="discount">Discount:</label>
                        <input formControlName="discount" id="discount" type="number" />
                    </div>

                    <div class="col-span-6">
                        <textarea formControlName="description" id="description" type="text"
                            placeholder="Product description" rows="4"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button (click)="close()" class="btn-outline-gray rounded-md text-sm w-full sm:w-auto" type="button">
                        Cancel
                    </button>
                    <button class="btn-green rounded-md text-sm w-full sm:w-auto" type="submit" role="button">
                        <fa-icon [icon]="['fas', 'save']" size="lg"></fa-icon>
                        Save Product
                    </button>
                    
                </div>
            </form>
        </div>
    </div>
</div>